*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.blok{
    margin-right: 50px;
    width: 200px;
    height: 200px;
    background-color:blue;
}
h1{
    margin-top: 50px;
    text-align: center;
}
p{
    text-align: center;
}
img{
    transition: all .5s;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.aciklama{
    padding: 5px;
    margin-top: 50px;
    background-color:green;
    text-align: center;
}
span{
    color: blue;
    cursor: pointer;
}
